.koshurvagabond-views-login-form{

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
}

.koshurvagabond-views-formitem{

    min-width: 70%;
}

.koshurvagabond-views-login{

    margin-top: 20px;
}

.koshurvagabond-views-login-socialmedia{

    margin-top: 50px;
}
