@import url('https://fonts.googleapis.com/css?family=Muli');

*{
    font-family: 'Muli', sans-serif;
}

.app-container{

    display: flex;
    flex-direction: column;
    background-color: #82D670;
    height: 100%;

    position:fixed;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
}

.koshurvagabond-form-input{

    border-radius: 6px;
    margin-top: 10px;
    padding: 6px;
    min-height: 30px;
    font-size: 18px;
    
}

.koshurvagabond-form-submit{

   
    background-color: #1D640F;
    border-color: #1D640F;
    color: antiquewhite;
}

.koshurvagabond-title-text{

    color: #1D640F;
}

.koshurvagabond-link{

    margin-top:20px;
    font-size: 18px;
}

.koshurvagabond-views-loading-container{

    display: flex;
    flex-direction: column;
    height: 100%;

    position:fixed;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    background-image:url('assets/images/loading.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}